@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-pink: #ba4270;
  --color-charm-pink: #da6d97;
  --color-link-water-white: #fbfcfe;
  --color-mirage-blue: #1b262f;
  --color-sun-juan-blue: #36536b;
  --color-light-sun-juan-blue: #6c8294;
  --color-main: #edf3f8;

  --font-pb-sans: "Public Sans", sans-serif;
  --font-dm: "DM Serif Display", serif;

  --text-dm-h1: 4.5rem;
  --text-dm-h1--line-height: 4.5rem;
  --text-dm-h2: 3.5rem;
  --text-dm-h2--line-height: 3.5rem;
  --text-dm-h3: 3rem;
  --text-dm-h3--line-height: 3.5rem;
  --text-dm-h4: 2rem;
  --text-dm-h4--line-height: 2.5rem;
  --text-dm-h5: 1.5rem;
  --text-dm-h5--line-height: 2rem;

  --text-pb-sans-1: 1.125rem;
  --text-pb-sans-1--line-height: 1.563rem;
  --text-pb-sans-2: 0.938rem;
  --text-pb-sans-2--line-height: 1.75rem;
}
